.settings
/deployment/.classpath
/deployment/.DS_Store
/deployment/.project
/runtime/.classpath
/runtime/.gitignore
/runtime/.project
/runtime/src/.DS_Store
/.DS_Store
/target/*
.DS_Store
/integration-tests/.classpath
/integration-tests/.gitignore
/integration-tests/.project
